In [103]:
import numpy as np
import pandas as pd

In [104]:
df = pd.read_csv("D:\MIT ADT\Third Year - Sem 2\ML LAB\Assign 4\Company_Data.csv")

In [105]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [106]:
df["ShelveLoc"].unique()

array(['Bad', 'Good', 'Medium'], dtype=object)

In [107]:
df["Urban"].unique()

array(['Yes', 'No'], dtype=object)

In [108]:
df["Urban"] = df['Urban'].replace("Yes", 1)
df["Urban"] = df['Urban'].replace("No", 0)

In [109]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,1,Yes
1,11.22,111,48,16,260,83,Good,65,10,1,Yes
2,10.06,113,35,10,269,80,Medium,59,12,1,Yes
3,7.40,117,100,4,466,97,Medium,55,14,1,Yes
4,4.15,141,64,3,340,128,Bad,38,13,1,No

In [110]:
df["US"] = df['US'].replace("Yes", 1)
df["US"] = df['US'].replace("No", 0)

In [111]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,1,1
1,11.22,111,48,16,260,83,Good,65,10,1,1
2,10.06,113,35,10,269,80,Medium,59,12,1,1
3,7.40,117,100,4,466,97,Medium,55,14,1,1
4,4.15,141,64,3,340,128,Bad,38,13,1,0

In [112]:
from sklearn.preprocessing import LabelEncoder

lbl_enc = LabelEncoder()

df['ShelveLoc'] = lbl_enc.fit_transform(df['ShelveLoc'])


df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

In [113]:
# X = df.drop("US", axis=1)
# y = df["US"]

In [114]:
from sklearn.feature_selection import mutual_info_classif

mutual_info = mutual_info_classif(X, y)

mutual_info = pd.Series(mutual_info)
mutual_info.index = X.columns

mutual_info.sort_values(ascending=False)

US             0.694911
Advertising    0.384547
Sales          0.066888
Age            0.045435
CompPrice      0.000000
Price          0.000000
ShelveLoc      0.000000
dtype: float64

from sk

In [115]:
X = sampled_df.drop(["Urban", "Education", "Population", "Income"], axis = 1)

In [116]:
df["US"].value_counts()

yes_sample = df[df["US"]==1]
no_sample = df[df["US"]==0]

print("yes ", yes_sample.shape)
print("no ", no_sample.shape)

yes  (258, 11)
no  (142, 11)

In [117]:
num_sample = yes_sample.sample(n=142)

In [118]:
num_sample.shape

(142, 11)

In [119]:
sampled_df = pd.concat([num_sample, no_sample], axis=0)

In [120]:
sampled_df.shape

(284, 11)

In [121]:
sampled_df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
183,5.32,118,74,6,426,102,2,80,18,1,1
297,3.07,118,83,13,276,104,0,75,10,1,1
324,2.66,136,65,4,133,150,0,53,13,1,1
266,9.10,128,93,12,343,112,1,73,17,0,1
370,7.68,126,41,22,403,119,0,42,12,1,1

In [122]:
X = sampled_df.drop("US", axis=1)
y = sampled_df["US"]

In [123]:
X = X.drop(["Urban", "Education", "Population", "Income"], axis = 1)

In [124]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size=0.2, random_state=0)

In [125]:
print(Xtrain.shape, ytrain.shape)
print(Xtest.shape, ytest.shape)

(227, 6) (227,)
(57, 6) (57,)

In [126]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

Xtrain = scaler.fit_transform(Xtrain)

Xtest = scaler.transform(Xtest)

In [127]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb

GaussianNB()

In [128]:
y_pred = gnb.fit(Xtrain, ytrain).predict(Xtest)
print("Number of mislabeled points out of a total %d points : %d" % (Xtest.shape[0], (ytest != y_pred).sum()))

Number of mislabeled points out of a total 57 points : 7

In [129]:
gnb.score(Xtrain, ytrain)

0.8810572687224669

In [130]:
gnb.score(Xtest, ytest)

0.8771929824561403

In [131]:
from sklearn.metrics import classification_report

print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.90      0.89        30
           1       0.88      0.85      0.87        27

    accuracy                           0.88        57
   macro avg       0.88      0.88      0.88        57
weighted avg       0.88      0.88      0.88        57